* {
  font-family: "Courier New", Courier, monospace;
}
.mynavborder {
  border-color: rgba(255, 217, 0, 0.792);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.logoEffect {
  filter: drop-shadow(0 0 0.3rem rgb(255, 30, 240));
}
.indeximg {
  object-fit: cover;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 173);
}
.fullbgcolor {
  background-image: linear-gradient(45deg, #e8f5c8, #9fa5d5);
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.block {
  position: relative;
  width: auto;
  height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.996), #272727);
  color: #fff;
  border-radius: 10px;
}

.block:before,
.block:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  border-radius: 10px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(10px);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
}
.footer {
  background: linear-gradient(105deg, #bdc5d3, #cacaca);
  padding-top: 80px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: black;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: black;
  margin-top: 20px;
}
.single_footer p {
  color: black;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: #fff;
}

.single_footer_address ul li {
  color: #fff;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

